WEBSOCKET_ENDPOINT=""
RPC_URL=""
PUBLIC_KEY=""
PUBLIC_KEY_1=""
AML_PRIVATE_KEY=""
AML_SIGNER_KEY=""
PRIVATE_KEY=""
PRIVATE_KEY_1=""
TOKEN_ADDRESS=""
SHARE_TOKEN_ADDRESS=""
DEPOSITOR_CONTRACT=""
WITHDRAWAL_CONTRACT=""
DEPOSITOR_FACTORY_CONTRACT=""
WITHDRAWAL_FACTORY_CONTRACT=""
DEPOSITOR_CLONE_ADDRESS=""
WITHDRAWAL_CLONE_ADDRESS=""
ETHERSCAN_API_KEY=""

VAULT_CROSS_CHAIN_PROXY_BASE=""
VAULT_CROSS_CHAIN_IMPLEMENTATION_BASE=""
VAULT_CROSS_CHAIN_PROXY_ETH=""
VAULT_CROSS_CHAIN_IMPLEMENTATION_ETH=""
CROSS_CHAIN_MANAGER_PROXY_BASE=""
CROSS_CHAIN_MANAGER_IMPLEMENTATION_BASE=""
CROSS_CHAIN_MANAGER_PROXY_ETH=""
CROSS_CHAIN_MANAGER_IMPLEMENTATION_ETH=""
USDC_BASE=""
USDC_ETH=""
