node_modules
.env
notes.txt

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Rust Target Folder
target
Cargo.lock

# Mac
.DS_Store

# tmp file
castCall.txt

# scripts
scripts
