PORT=7860
TELEGRAM_BOT_TOKEN=your_token_here
TELEGRAM_WEBHOOK_SECRET=your_secret_here
TEAM_UI_TOKEN=your_token_here
AI_SIMULATION_MODE=true
TELEGRAM_FAILOVER=false
MAIL_DELIVERY_MODE=queue
OFFICIAL_EMAIL=auroraalmada4@gmail.com
BACKUP_EMAIL=Mohammadassia993@gmail.com
